/*
*= require_self
*= require sb-admin
*= require_tree .
*/




/* hides arrows next to action icon on administrators index  */
.dropdown-toggle::after {
	display: none !important;
}

body.sidenav-toggled footer.sticky-footer {
	width: 100% !important;
}

h6 {
	font-weight: 300 !important;
}

.sub_menu_inline{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 }

 tbody{
 	font-size: .9rem !important;
 }

 #club_menu_item_item_type {
 	width: 100%;
 }

.item_category_example {
  font-size: 70%;
  opacity: 0.7;
  margin-left: 5px;
}

ul {
  list-style:none;
  padding: 0;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0 !important;
    left: auto !important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu.show{
	width: 300px;
}

.current-user-pop-up {
	margin-left: 20px;
}

.optional-password-text{
  font-size: small;
    opacity: 0.7;
}


